! Set depth to make transparency work.
URxvt*depth: 32

! URxvt*font: xft:kakwa kakwafont:size=8, xft:Zpix:size=9:antialias=false
! URxvt.boldFont: 
URxvt*font: xft:SF Mono:size=9
URxvt.letterSpace: -1

URxvt.scrollBar: false

URxvt.perl-ext-common: selection-to-clipboard,resize-font

URxvt.externalBorder: 12

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
